html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	Xfont: 14px monospace;
	font: 14px Roboto;
}

#table {
	visibility: hidden;
	width: 100%;
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;
}

input {
	border: 1px solid #0275D8;
}

select {
	border: 1px solid #0275D8;
	background: #fff;
}

input, button, select {
	Xfont: 14px monospace;
	font: 14px Roboto;
	height: 30px;
	padding-left: 7px;
	padding-right: 7px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.label {
	padding-left: 7px;
	background: #ddd;
	border: 1px solid #aaa;
	white-space: nowrap;
}

#table td:first-child {
	max-width: 50px;
}

input[type='number'] {
	text-align: right;
	width: 70px;
}

select {
	width: 70px;
}

/* Hide spinners for Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

/* Hide spinners for Chrome */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

button {
	cursor: pointer;
	border: 1px solid #aaa;
	border-radius: 0;
}

button:disabled {
	cursor: default;
}

#generate_image, #download_image {
	float: right;
}

.enabled_button {
	color: #fff;
	background: #292B2C;
	border: none;
}

#load_default_texts {
	float: right;
}

#preview {
	width: 100%;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 25px rgba(0, 0, 0, 1);
}

input[id='saveSettingsCheckbox'] {
	position: relative;
	vertical-align: middle;
}

.separator {
	width: 100%;
	margin-top: 5px;
	border-bottom: 1px solid #292B2C;
}
